body {
    background-image: url('r.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .video-container {
    margin-top: 0px;
  }
  
  .video-container video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .description {
    font-size: 20px;
    line-height: 1.5;
    background-color: rgb(150, 150, 154);
    color: white;
    padding: 10px;
   
  }
  .titre {
    background-color: rgb(150, 150, 154);
    color: rgb(11, 11, 11);
  }
  
  