body {
  font-family: Arial, sans-serif;
  background-image: url('x3.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 320px;
  height: 320px;
  background-color: #fff;
  border: 1px solid #020d1bbe;
  border-radius: 5px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #1f0363bd;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.square:hover {
  background-color: #f4f1f1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#turn {
  margin-top: 20px;
  font-size: 24px;
  color: #2c302e;
}

#reset-btn {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  background-color: #5356c0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#reset-btn:hover {
  background-color: #432c9d;
}

.winning-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 245, 245);
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
}

.winning-message.show {
  display: block;
}

.winning-message h2 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}

.winning-message p {
  font-size: 18px;
  color: #333333;
  margin-bottom: 0;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: #000000;
}

.video-container {
  margin-top: 20px;
}

.video-container video {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
/*.description {
  font-size: 20px;
  line-height: 1.5;
  color: rgb(16, 15, 14);
  
}*/
.titre {
  background-color: rgb(23, 23, 58);
  color: #fff;
  padding: 10px;
}
.my-button {
  background-color: #5356c0;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.5 ease; 
}

.my-button:hover {
  background-color: #432c9d; /* Nouvelle couleur de fond au survol */
}
.turn{
  color: #fff;
}
