body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./imagesrps/backgroundrps.jpg') ;
    background-size: cover;
    margin: 0;
  }
  
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button:focus {
    outline: none;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  
  #rock img {
    background-color: #c0392b;
  }
  
  #paper img {
    background-color: #2980b9;
  }
  
  #scissors img {
    background-color: #16a085;
  }
  
  .result {
    margin-top: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .video-container {
    margin-top: 0px;
  }
  
  .video-container video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .video-container {
    margin-top: 20px;
  }
  
  .video-container video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .description {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(225, 213, 221);
    
  }
  .titre {
    color: #174f57;
  }
  .my-button {
    background-color: #13175c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.5 ease; /* Transition douce de la couleur de fond */
  }
  
  .my-button:hover {
    background-color: #3d56b1; /* Nouvelle couleur de fond au survol */
  }
  
  
    
  
  
  
  