/* Navigation bar */
body{
	margin: 0%;
  background-image: url('./images/background.png');
  background-size: cover;
  font-family: 'Nunito';
  font-weight: 800;
}
.navbarlogin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11227A;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}
.notactive {
  width: 30px;

  padding: 5px;
}
.active{
  width: 25px;
  margin-right: 15px;
  display: none ;
}

.navbarlogout {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: #11227A;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}
.navbarlogin-logo img {
  height: 40px;
  margin-left: 20px;
}

.navbarlogin-search form {
  display: flex;
  align-items: center;
}

.navbarlogin-search input[type="text"] {
  padding: 10px;
  border: solid 1px #11227A;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 10px;
  width: 350px;
  height: 13px;
}


.navbarlogin-buttons{
  font-family: 'Nunito';
  font-weight: 800;
  display: flex;
  gap: 5px;
  align-items: center;
}
.navbarlogout-buttons{
  font-family: 'Nunito';
  font-weight: 800;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 30px;
}
.navbarlogout-buttons a{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}

.navbarlogin-buttons a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}
.icon{
  padding: 0% !important;
  display: flex;
  align-items: center;
}
.logout {
  background-color: #5D7DEF;
  border-radius: 20px;
  height: 20px;
  width: 80px;
  text-align: center;
}

.navbarlogin-sign-up {
  background-color: #5D7DEF;
  border-radius: 20px;
  height: 20px;
  width: 80px;
  text-align: center;
}
.navbarlogin-sign-up1 {
  border-radius: 20px;
  height: 20px;
}

/* .navbarlogin-profile {
} */
.icon{
  width: 25px;
}

.gameContainer {
	display: inline-block;
	margin: 10px;
	text-align: center;
	}
	.game {
	display: block;
	margin-bottom: 10px;
	}
	.game img {
		width:200px;
		height: 200px;
		padding: 0px;
	border-radius: 5%;
	transition: all 0.2s ease-in-out;
	
	}
	.game:hover img {
	transform: scale(1.1);
	}
	
	/* Heading styling */
	h2 {
  color: white;
	font-size: 18px;
	margin-top: 5px;
	}
	.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin: 20px;
  padding: 10px;
  border-radius: 20px;
	}
/* Footer */
/* footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer button {
  background-color: #337ab7;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

footer button:hover {
  background-color: #2e6da4;
} */
