body {
    
  background-image: url('background.jpg');
  background-size: cover;
  color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gamecnt{
    background-color: white;
    width: fit-content;
    box-shadow: 2px 4px 8px;
    padding: 30px;
    height: fit-content;
  }
  .wrapper {
    width: fit-content;
    margin: auto;
  }
  .hint-div {
    display: flex;
    color: rgb(0, 0, 0);
  }
  .hint-btn,
  .reset-btn,
  .notif-btn {
    cursor: pointer;
  }
  .reset-btn {
    margin-left: auto;
  }
  .reset-btn,.hint-btn,.play{
    background-color: black;
    color: white;
    padding: 5px 10px;
  }
  .alpha {
    width: 2rem;
    height: 2rem;
    background: black;
    border: none;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
    color: white;
  }
  .alpha:hover {
    background-color: white;
    color: black;
    border: none;
  }
  .disabled {
    pointer-events: none;
    background-color: rgb(107, 113, 143);
  }
  
  .word-div {
    display: inline-flex;
  }
  .word {
    margin-right: 1.5rem;
  }
  
  .notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c095d4;
    width: 20rem;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .blur {
    filter: blur(2px);
  }
  .hidden {
    display: none;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .video-container {
    margin-top: 0px;
  }
  
  .video-container video {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
  }
  .description {
    font-size: 20px;
    line-height: 1.5;
    color: black;
    
  }
  .titre {
    color: black;
  }
  .letter-div{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    padding: 20px 50px;
  }