body {
    
  background-image: url('hg4.webp');
  background-size: cover;
  color: white;
    text-align: center;
  }
  .gamecnt{
    background-color: white;
    padding: 0%;
    position: absolute;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 4px 8px;
  }
  .wrapper {
    width: fit-content;
    margin: auto;
  }
  .hint-div {
    display: flex;
    color: rgb(0, 0, 0);
  }
  .hint-btn,
  .reset-btn,
  .notif-btn {
    cursor: pointer;
  }
  .reset-btn {
    margin-left: auto;
  }
  .alpha {
    width: 2rem;
    height: 2rem;
    background: #ebcbc5;
    border: none;
    border-radius: 4px;
    margin: 3px;
    cursor: pointer;
  }
  .alpha:hover {
    background-color: #e75480;
    border: none;
  }
  .disabled {
    pointer-events: none;
    background-color: rgb(107, 113, 143);
  }
  
  .word-div {
    display: inline-flex;
  }
  .word {
    margin-right: 1.5rem;
  }
  
  .notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c095d4;
    width: 20rem;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .blur {
    filter: blur(2px);
  }
  .hidden {
    display: none;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  
  .video-container {
    margin-top: 0px;
  }
  
  .video-container video {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .description {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(255, 252, 254);
    
  }
  .titre {
    color: rgb(255, 254, 254);
  }
  
  